<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <nav></nav>
  <body>
    <p>get-data works!</p>
    <div class="testData">
      <p>home works!</p>
      <span>List Comments</span>
      <button (click)="getData()">load</button>
    </div>
  </body>
  <footer class="bg-danger">
    <h1>contact us</h1>
    <div>
      <div class="row">
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque,
            voluptatum. Libero alias dolores voluptatem fugit corrupti harum
            repellendus fugiat consequuntur! Nemo molestiae excepturi eos, fugit
            voluptas illum ex corporis cupiditate!
          </p>
        </div>
      </div>
    </div>
  </footer>
</html>
