<p>about works!</p>
<ul [ngSwitch]="loginName">
  <li *ngSwitchCase="'user'">
    <p>User is logged in..........</p>
  </li>

  <li *ngSwitchCase="'admin'">
    <p>admin is logged in .....</p>
    <app-home></app-home>
  </li>

  <li *ngSwitchDefault="">
    <p>Please choose login name</p>
  </li>
</ul>
<p >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deserunt
  ab beatae assumenda vel soluta. Velit possimus natus consequuntur sunt
  repudiandae ad voluptate sed fuga. Quam expedita amet tempore aliquam?
</p>
