.details {
  width: 250px;
  height: 200px;
  background-color: rgb(215, 214, 214);
  text-align: center;
}

.product-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.container {
  width: 500px;
  height: 500px;
  margin: 50px;
  text-align: center;
}