.details {
  width: 250px;
  height: 200px;
  background-color: rgb(215, 214, 214);
  text-align: center;
}

.product-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.container {
  width: 500px;
  height: 500px;
  margin: 50px;
  text-align: center;
}

/* CSS W3C */
input[type=text],
input[type=email] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.listing-apply {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  float: auto;
}

.detail {
  display: flex;
}

.listing-apply button {
  margin-left: 5px;
}