<div class="container">
  <div class="header-left">
    <span>SHOE </span>
    <span>SHOP</span>
  </div>
  <div class="menu-nav header-mid">
    <div class="link">
      <a routerLink="/home">Home</a>
    </div>
    <div class="link">
      <a routerLink="/product-list">Products</a>
    </div>
    <div class="link">
      <a>Men</a>
    </div>
    <div class="link">
      <a>Women</a>
    </div>
    <div class="link">
      <a>Big Sale</a>
    </div>
    <div class="link">
      <a routerLink="/template-form">News</a>
    </div>
    <div class="link">
      <a routerLink="/book">Contact us</a>
    </div>
  </div>
  <div class="header-right">
    <div class="icon search" (click)="disableSearch()">
      <fa-icon [icon]="faSearch" title="Search"></fa-icon>
    </div>
    <div class="icon user">
      <fa-icon [icon]="faUser" title="User"></fa-icon>
    </div>
    <div class="icon cart">
      <fa-icon [icon]="faCartPlus" title="Cart" routerLink="/cart"></fa-icon>
    </div>
  </div>
</div>
<app-search [disableSearch]="isSearch"></app-search>
