.cart {
  width: 150px;
  height: 50px;
  background-color: rgb(175, 174, 174);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}



.product-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
}

.item {
  width: 300px;
  height: 350px;
}

.item-img {
  width: 300px;
  height: 300px;
}