<p>reactive-form works!</p>
<form [formGroup]="formData">
  <label
    >Name:

    <input type="text" formControlName="name" /><br />
  </label>
  <label
    >Password:

    <input type="text" formControlName="password" /><br />
  </label>
  <label
    >Age

    <input type="text" formControlName="age" /><br />
  </label>
  <button type="submit" (click)="submitForm()">Submit</button>
</form>
<span>Form 2</span>
<form [formGroup]="formDataBuild">
  <label
    >Name:

    <input type="text" formControlName="firstName" /><br />
    <div *ngIf="!formDataBuild.controls.firstName.valid" style="color: red;">
      Name is required
    </div>
  </label>
  <label
    >LastName:

    <input type="text" formControlName="lastName" /><br />
    <div *ngIf="!formDataBuild.controls.lastName.valid" style="color: red;">
      LastName is required
    </div>
  </label>
  <label
    >Age

    <input type="text" formControlName="age" /><br />
    <div *ngIf="!formDataBuild.controls.age.valid" style="color: red;">
      Age is required
    </div>
  </label>
  <button type="submit" (click)="submitForm()" [disabled]="!formDataBuild.valid">Submit</button>
</form>
