<div class="container-Seach" [class.container-Search]="disableSearch">
  <div class="search">
    <input type="text" placeholder="Search" #search />
    <div (click)="searchItems(search.value)" class="search-icon">
      <fa-icon [icon]="faSearch" title="Search"></fa-icon>
    </div>
  </div>
  <!-- search -->
  <div class="item-search">
    <div *ngFor="let item of listItems">
      <h1>{{ item.name }}</h1>
      <img src="{{ item.image }}" alt="" class="img-products" />
    </div>
  </div>
</div>
