<app-header></app-header>
<div class="topnav">
  <a href="" routerLink="/home">Home</a>
  <a href="" routerLink="/about">About</a>
  <a href="" routerLink="/reactive-form">Reactive-Form</a>
  <a href="" routerLink="/get-data">GetData</a>
  <a href="" routerLink="/typescript">TypeScript</a>
  <a href="" routerLink="/**">not find Component</a>
  <a href="" routerLink="/template-form">Template-Form</a>
  <a href="" routerLink="/book">Book</a>
  <a href="" routerLink="/product-list">Product-list</a>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
