<p>template works!</p>
<div class="card">
  <img
    src="https://www.w3schools.com/howto/img_avatar2.png"
    alt="Avatar"
    style="width: 100%"
  />
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
    <p>Email Parent to Child:{{ emailBookParentToChild }}</p>
    <p>email old: {{ email }}</p>
    <input type="text" name="" id="" [(ngModel)]="email" />
    <button (click)="changeEmailValue()">ChangeEmailParentFollowChild</button>
  </div>
</div>

<div>
  <label for="search">Search</label>
  <input type="text" name="search" id="search" #filter />
  <button (click)="filterResult(filter.value)">Search</button>
</div>
<div *ngFor="let i of filteredProduct">
  <span>{{ i.name }}</span>
  <span>{{ i.image }}</span>
  <span>{{ i.price }}</span>
  <span>{{ i.description }}</span>
</div>
