<div class="search">
  <input type="text" placeholder="Search" [(ngModel)]="search" />
  <div (click)="searchItems()">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
</div>
<!-- search -->
<div *ngFor="let i of listItems">
  <h1>{{ i.name }}</h1>
</div>

<!-- product -->
<div class="container">
  <div *ngFor="let product of products" class="products">
    <img src="{{ product.image }}" alt="" class="img-products" />
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
        >{{ product.name }}</a
      >
    </h3>
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <button type="button" (click)="share()">Share</button>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
  </div>
</div>
