.products {
  width: 300px;
  height: 350px;
  background-color: rgb(215, 214, 214);
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  margin-top: 20px;
}

.img-products {
  width: inherit;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
}

.search {
  display: flex;
  align-items: center;
  font-size: 27px;
  justify-content: center;
}

.search input {
  width: 400px;
  height: 30px;
  margin: 10px 10px;
}