<div class="test">
  <p>home works!</p>
  <h1>Xin chào tui tên là {{ name }}</h1>
  <input
    type="text"
    name="testinput"
    id="idname"
    value="{{ name }}"
    title="{{ title }}"
  />
  <br />
  <input [value]="name" />
  <br />
  <input type="text" name="" id="" [value]="'tên là ' + name" />
  <!-- <h2 *ngIf="age <= 15 && tin <= 12">Bạn còn trẻ !</h2>
  <h2 *ngIf="age > 18 ">Bạn đã già r :(( </h2> -->
  <button (click)="resetName()">Submit</button>
  <br />
  <input type="text" [(ngModel)]="name" />
  <br />
  <input type="text" [(ngModel)]="age" />
  <!-- thẻ ng template -->
  <div *ngIf="age <= 18; then tre; else gia"></div>
  <ng-template #tre><h2>Bạn còn trẻ !</h2></ng-template>

  <ng-template #gia> <h2>Bạn đã già r :((</h2></ng-template>

  <!-- vong lap for -->
  <h1>List Fruit</h1>
  <div *ngFor="let item of fruits; index as i">
    <ul>
      <li>{{ i + 1 }} {{ item }}</li>
    </ul>
  </div>
  <!-- table -->
  <div>
    <table class="table-fruits">
      <tr>
        <th>Number</th>
        <th>Name Fruit</th>
        <th>Prices</th>
        <th>Discount</th>
        <th>Discount</th>
        <th>Discount</th>
      </tr>
      <tr *ngFor="let item of fruits2; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name | uppercase}}</td>
        <td>{{ item.price }}</td>
        <!-- giá tiền sẽ đổi màu đỏ nếu nhơn 0 -->
        <td class="right">
          <span [ngClass]="{ 'so-am': item.price < 4000 }">{{ item.price | currency }}</span>
        </td>
        <td>
          <span *ngIf="item.discount" [ngClass]="{ 'so-am': item.price < 4000 }"> Discount !!! </span>
        </td>
        <!-- tự tạo pipe -->
        <td>
          <span [ngClass]="{ 'so-am': item.price < 4000 }"> {{ item.discount | onSale}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
