<div class="test">
  <p>home works!</p>
  <h1>Xin chào tui tên là {{ name }}</h1>
  <input
    type="text"
    name="testinput"
    id="idname"
    value="{{ name }}"
    title="{{ title }}"
  />
  <br />
  <input [value]="name" />
  <br />
  <input type="text" name="" id="" [value]="'tên là ' + name" />
  <!-- <h2 *ngIf="age <= 15 && tin <= 12">Bạn còn trẻ !</h2>
  <h2 *ngIf="age > 18 ">Bạn đã già r :(( </h2> -->
  <button (click)="resetName()">Submit</button>
  <br />
  <input type="text" [(ngModel)]="name" />
  <br />
  <input type="text" [(ngModel)]="age" />
  <!-- thẻ ng template -->
  <div *ngIf="age<=18 ; then tre;else gia"></div>
    <ng-template #tre><h2>Bạn còn trẻ !</h2></ng-template>

    <ng-template #gia> <h2>Bạn đã già r :((</h2></ng-template>

</div>
